/* === Base Card === */
.card {
  background-color: var(--bg-card);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  padding: var(--space-md);
  color: var(--text-light);
  overflow: hidden;
}

/* === Info Card === */
.card-info {
  display: flex;
  flex-direction: column;
}

.card-info .card-title {
  background-color: var(--bg-panel);
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--text-light);
  border-bottom: 1px solid var(--gray-600);
}

.card-info .card-body {
  padding: var(--space-md);
  font-size: var(--font-size-base);
  color: var(--text-muted);
  display: flex;
  flex-direction: column;

}

/* === Button Card === */
.card-button {
  text-align: center;
  /* padding: var(--space-md); */
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-button:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
}

.card-playlist {
  display: flex;
  /* gap: var(--space-sm); */
  padding: 0;
  width: 100%;
  align-content: center;


}

.card-playlist-icon {
  flex: 0 0 20%;
  background-color: var(--bg-panel);
  font-size: var(--font-size-xl);
  text-align: center;
  padding: var(--space-sm) 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-playlist-main {
  flex: 0 0 80%;
  height:100%;
  display: flex;
  align-items: center;
  align-self: center;

}

.card-playlist-info  {
  flex: 0 0 80%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  >*{
  font-size: var(--font-size-sm);
  }
}

.card-playlist .btn {
  background: var(--bg-card);
  border: none;
  color: var(--text-light);
  cursor: pointer;
  padding: var(--space-sm) var(--space-md-sm);
  border-radius: 4px;
}
/* Sliding side menu */
.side-menu {
  flex:0 0 25%;
  position: relative;
  top: 0;
  right: 0;      /* hidden */
  padding:var(--space-md-sm) var(--space-md);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--bg-panel);
  transition: right 0.3s ease; /* ✅ smooth slide */
}

.side-menu.open {
  right: 35%; /* ✅ slide in */
}

/* === Banner Card === */
.card-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-2xl);
  background-color: var(--color-primary);
  color: var(--bg-dark);
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-align: center;
  border-radius: var(--radius-lg);
}